{% extends "layout.html" %}
{% block body %}
        <!--Home-->
        <section id="tal" class=" text-light p-5 mt-5 text-center text-sm-start">
            <div >
                <div class="d-lg-flex">
                    <div class="row">
                        <div class="column">
                        <h1 class=" p-5 text-white text-center">US-Housing</h1>
                        <div class=" row justify-content-md-center ">
                            <p class="text-black bg-white col col-lg-8 mx-5 p-2">
                                Housing market in different cities in the US fluctuates a lot. Housing price is not always related to a single factor. In this project, we uncovered patterns on housing prices in different US cities. We looked on how the city population, income, poverty, and different other factors that we get from census API like education, transportation affects the housing price.To predict the house value, we built and trained different Regression Models. Our best model is Random Forest Regressor which has a mean absolute error of around $27000 and the predicted house value is based on Random Forest learning algorithm.
                            </p>
                        </div>
                        </div>
                        <div class="column">
                            <div class=" row justify-content-md-center p-1">
                                <h5 class="col col-lg-2 "></h5>

                            </div>
                            <p class="text-primary  mx-5 p-2">
                                
                            </p>
                        </div>
                    </div>
                </div>  
                <div class="card bg-danger text-white p-2">
                    <div class="well ">
                        <h4 class="text-white">Please select the city name to see the housing price of that city. Multiple cities with the same name will be displayed in map with their predicted housing price:</h4>
                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                </div>
                
                <div class="d-lg-flex ">
                    <div class="container-fluid bg-black text-center">
                        <h6 class="text-white p-3">Maps</h6>
                        <div id="map1"></div>
                    </div>
                    
                </div>
        
                    
            </div>
        </section>
        <div class=" row justify-content-md-center p-5">
            <h4 class="col col-lg-9 text-white  p-5"></h4>

        </div>
        <div class=" row justify-content-md-center p-5">
            <h4 class="col col-lg-9 text-white  p-5"></h4>

        </div>
        <div class=" row justify-content-md-center p-5">
            <h4 class="col col-lg-9 text-white bg-warning p-5">Please enter the following information manually to predict the housing price of your city:</h4>

        </div>
        <div class="row justify-content-md-center  mx-5 ">
            <div class=" col-lg-6 mx-5 p-1" >
                <div class="col-md-8  bg-primary">
                    <h2 role="presentation" class="nav-item text-center">
                        <a href="index.html" class="nav-link lead text-white">Please click to refresh</a>
                    </h2>
                </div>
                <form action = "/send" method = "post">
    
                    <div class="mb-3  lead text-white">
                        <label  for="Monthly Owner Cost">Monthly Owner Cost</label>
                        <input  type="number" step="any" name="Monthly Owner Cost" id="Monthly Owner Cost" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Per Capita Income">Per Capita Income</label>
                        <input  type="number" step="any" name="Per Capita Income" id="Per Capita Income" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Lng">Longitude</label>
                        <input  type="number" step="any" name="Lng" id="Lng" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Household Income">Household Income</label>
                        <input  type="number" step="any" name="Household Income" id="Household Income" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="College Rate">College Rate</label>
                        <input  type="number" step="any" name="College Rate" id="College Rate" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Lat">Lattitude</label>
                        <input  type="number" step="any" name="Lat" id="Lat" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Personal Transport Rate">Personal Transport Rate</label>
                        <input  type="number" step="any" name="Personal Transport Rate" id="Personal Transport Rate" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="High School Rate">High School Rate</label>
                        <input  type="number" step="any" name="High School Rate" id="High School Rate" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Median Age">Median Age</label>
                        <input  type="number" step="any" name="Median Age" id="Median Age" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Public Transport Rate">Public Transport Rate</label>
                        <input  type="number" step="any" name="Public Transport Rate" id="Public Transport Rate" />
                        
                    </div>
                    <div class="mb-3  lead text-white">
                        <label  for="Population">Population</label>
                        <input  type="number" step="any" name="Population" id="Population" />
                       
                    </div>
                    <!-- Form submit button -->
                    <div class="d-grid p-5">
                        <button class="btn btn-primary btn-lg" type="submit" value="submit">Submit</button>
                    </div>
                    
                </form>
            
            </div>
            <div class=" text-white row justify-content-md-center">
                <h1 class="text-center"></h1>
                <h2 class="text-center"> {{ prediction }}</h2>
      
          </div>
    
        </div>
        <div>
            <h3 class="p-5 text-center text-warning"> For any inquiry please <a href="contact.html" target="_blank">contact me</a></h3>
        </div>

        <footer>
            <p>Copyright &copy; pandeysudip2021</p>
        </footer>
        <!-- JavaScript file -->
        
        <script type="text/javascript" src="static/js/index.js"></script>
   
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}